.jumbotron{
    background-image: url("/image/managerhome.jpg");
    
}

.page-title{
    margin-top: 30px;
    text-shadow: 8px 6px 2px rgba(90, 131, 142, 0.388);
    font-size: xx-large;
}

.form_title{
    text-align: center;
    text-shadow: 2px 4px 3px gray;
    padding-bottom: 2%;
}

.staff-details{
    width: 85%;
    margin: auto;
    background-color: #ffffff92;
    box-shadow: 7px 8px 4px rgba(115, 139, 145, 0.333);
    border:1px solid rgba(255, 255, 255, 0.758);
    border-radius:15px;
    padding: 2%;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: medium;
}
.line{
    padding-bottom: 2%;
}

.content-type{
 color:gray;
 padding: 1%;
}

select{
    width: 30%;
    height: 30px;
}

.edit_type{
    text-align: center;
}
.button_submit{
    font-weight: bold;
    width:max-content;
    padding: 6%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 4px 4px 3px gray;
    margin: 8px 10px 8px 20px;
}

.button_submit:hover{
    background-color: rgb(103, 138, 174);
}

.button_submit:active{
    background-color: rgb(59, 89, 121);
    color:white;
}

.input_field{
    padding: 1.5%;
    width: 95%;
    position:relative;
    border-style: none;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 10px;
}