body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(" /image/bg3.jpg");
    min-height: 100vh;
    background-size: cover;
}

.topic{
    position:top;
    width: 85%;
    padding: 2px;
    background-color: var(--blue4);
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: x-small;
    padding: 1%;
    margin: 25px auto;
}
.title{
    display: flex;
    flex-direction: row;

}
.la-user-edit{
    padding-left: 1%;
    padding-right: 1%;
}

.searchfield{
    width:70%;
    float:right;
    text-align:left;
    border-radius: 9px;
    color:gray;
    
    
}

#sf{
    border-color: rgb(199, 199, 199);
    color: var(--blue4);
    border-radius: 7px;
    padding: 1%;
    line-height: 40%;
    width: 55%;
    box-shadow: 2px 2px 2px #b9b9b9;
    float:inherit;
    margin-right: 1%;
    
}

.searchbutton{
    float:inherit;
    height: auto;
    border-style: none;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 2px 5px 2px rgb(175, 189, 234);
    background-color: rgba(84, 84, 84, 0.635);
    color:white;
    width:min-content;
}

.home-content, .staff-list{
    background-color: #ffffffc1;
    box-shadow: 7px 8px 4px rgba(115, 139, 145, 0.333);
    text-align:left;
    border-radius:15px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 85%;
    border: 1px solid rgba(255, 255, 255, 0.758);
    margin: 25px auto;
    padding: 3rem 2rem;
    font-size: medium;
}





button:active{
    background-color: rgb(169, 203, 255);
    color:black;
    
    box-shadow: 2px 5px #666;
    transform: translateY(4px);
}

img{
    float:right;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.flex-container{
    margin-top: 30px;
    display:flex;
    flex-direction:column;
}

.flex-container > div {
    background-color: #ffffff;
    width: 90%;
    margin: 3px;
    margin-left: 15px;
    text-align: left;
    line-height: 40%;
    font-size: 12px;
    border-radius: 5px;
    position:relative;
  }

  .flex-container > div:hover{
    background-color: #b5bed0;
    transition: all 0.5s;
    cursor: pointer;
  }

  .flex-container > div:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.8s;
  }

  .flex-container > div:active{
    background-color: #4c638c;
    color:white;
  }


