.calendar {
    display: grid;
    position: relative;
    grid-template-areas: 
        "header header header header header header header"
        "sunday monday tuesday wednesday thursday friday saturday"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day"
        "day day day day day day day";
    grid-template-rows: 70px repeat(8, auto);
    grid-template-columns: repeat(7, 1fr);
    overflow: hidden;
    max-width: 800px;
}



.calendar-input {
    position: absolute;
    opacity: 0;
}




/* =====================
 * Calendar Overlay
  ===================== */
.calendar-overlay {
    position: absolute;
    display: grid;
    grid-template-areas:
        "header header header header"
        "jan feb mar apr"
        "may jun jul aug"
        "sep oct nov dec";
    grid-template-rows: 70px repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    inset: 0;

    transition: all .3s ease;
    opacity: 0;
    transform: translateY(-100%);
}
.calendar-overlay.open {
    opacity: 1;
    transform: translateY(0);
}

.calendar-mon {
    font-size: 2rem;
    font-weight: bolder;
    background-color: var(--blue1);
    transition: all .3s ease;
}




/* ================================
 * Calendar Header + Overlay header
  ================================ */
.calendar-header, .calendar-overlay-year {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 1rem;

    background-color: var(--blue3);
    color: white;

    font-size: 2.5em;
    font-weight: bolder;
}

.calendar-header-btn {
    color: white;
    font-size: 1em;
}

.calendar-header-text {
    color: white;
    font-size: 1em;
    font-weight: bold;
}



.calendar-dow {
    background-color: var(--blue1);
    text-align: center;
    align-content: center;
    font-size: 1.75em;
    padding: 1.5em 0;
    font-weight: bolder;
}

.calendar-sunday { grid-area: sunday; }
.calendar-monday { grid-area: monday; }
.calendar-tuesday { grid-area: tuesday; }
.calendar-wednesday { grid-area: wednesday; }
.calendar-thursday { grid-area: thursday; }
.calendar-friday { grid-area: friday; }
.calendar-saturday { grid-area: saturday; }






/* =====================
 * Calendar Grids
  ===================== */
.calendar-grid {
    background-color: var(--blue1);
    transition: all .3s ease;
}



:is(.calendar-mon, .calendar-grid):is(:hover, :focus) {
    background-color: var(--blue2);
}


.calendar-button {
    padding: 1em 0;
    width: 100%;
    height: 100%;

    font-size: 1.5rem;
    font-weight: lighter;

    transition: background-color .2s ease;
}



.calendar-day-selected {
    background-color: var(--blue2);
}