
.date {
    display: flex;
    justify-content: center;
    gap: .25em;

    font-size: 3.5em;
    opacity: .4;
    font-weight: 300;

}


.clock {
    display: flex;
    justify-content: center;
    gap: .15em;

    font-size: 6.5em;
    opacity: .7;
    font-weight: bolder;

    margin-bottom: .75em;
}