* {
    /* CSS Reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* Google fonts
        - Roboto
        - Orbitron

        font-family: 'Orbitron', sans-serif;
        font-family: 'Roboto', sans-serif;
    */
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
    

    /* Variables */
    --blue1: #a5def2;
    --blue2: #5baeb7;
    --blue3: #1e80c1;
    --blue4: #414c6b;
    
    --nav-height: 50px;
    
    font-size: 10px !important;
    font-family: 'Roboto', sans-serif;
}

.padded-container {
    padding-left: max(20px,calc(50vw - 512px));
    padding-right: max(20px,calc(50vw - 512px));
}

a {
    text-decoration: none;
    color: unset;
}


.button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.brand-title {
    color: var(--blue3);
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
}

.brand-desc {
    color: var(--blue3);
    font-size: 1.75rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    margin-bottom: 3rem;
}


/* *======================== 
*   Message Box
* =========================*/
.message {
    margin: 10px 6px;
    padding: 20px 15px;
    text-align: center;
    font-weight: 300;
    border-radius: 5px;
    font-size: 1.75rem;
}

.message-success {
    background-color: #02b875;
    color: white;
}

.message-danger {
    background-color: #d9534f;
    color: white;
}

.message-warning {
    background-color: #f0ad4e;
    color: white;
}



/* *===========================
 *   Dropdown
 * ============================== */
 .dropdown {
    position: relative;

}

.dropbtn {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 3rem;
    justify-self: flex-end;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;

    flex-direction: column;
    min-width: 300%;
    
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
    padding: 1em 2em;
    width: 100%;
    display: block;
    transition: all .3s ease;
    font-size: 1.5rem;
}

.dropdown-content button:is(:hover, :focus,.selected) {
    background-color: #d7d7d7;
}

.dropdown:is(:hover, :focus) .dropdown-content {
    display: flex;
}

.dropbtn:is(:hover, :focus) {
    background-color: #b3b3b3;
}





/* * ===================
 *   Card Container
 * ====================*/
 .container {
    width: 85%;
    max-width: 1400px;
    margin: 2rem auto;
    border: 1px solid rgba(255, 255, 255, 0.758);
    border-radius: 15px;

    background-color: #ffffffc1;
    box-shadow: 7px 8px 4px rgba(115, 139, 145, 0.333);
    text-align: center;
}

.container_nav {
    display: flex;

    padding: 2rem 0;
    width: 90%;
    margin: auto;
    align-items: center;
}

.container_nav h2 {
    flex: 1;
    text-align: left;
    font-size: 4rem;
    font-weight: 300;
}




.line {
    width: 95%;
    margin: auto;
}

.container_item {
    display: grid;
    padding: 20px;
    gap: 1em;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    margin: 2rem 0;
}

.no_container_item {
    display: grid;
    padding: 1em;
    gap: 1em;
    justify-items: center;
    margin: 2rem 0;
    
}

.card {
    padding: 2rem;
    text-align: left;

    background-color: rgba(215, 215, 215, 0.5);
    border-radius: 8px;

    transition: all .3s ease;
}


.card:is(:hover, :focus) {
    transform: translateY(-10px);
    box-shadow: 0 5px 5px rgb(162, 162, 162);
}

.card-title {
    font-size: 2.5rem;
    font-weight: 300;
}

.card-divider {
    margin: 2.5em 0;
    border: none;
    height: 1px;
    background-color:#b3b3b3;
}

.card-label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;

    font-weight: 300;
    font-size: 1.75rem;
    color: #999;
}
.card-label .card-icon {
    color: black;
}


.card-value {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1em;
}

.application-time, .leave-date {
    font-weight: 300;
}


.status-pending { color: var(--blue3); }
.status-approved { color: rgb(8, 181, 8); }
.status-rejected { color: rgb(233, 45, 45); }
.status-expired { color: grey; }


@media only screen and (max-width: 768px) {
    .container_nav h2, .dropbtn {
        font-size: 2.5rem;
    }
}