* {
    /* CSS Reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* Google fonts
        - Roboto
        - Orbitron

        font-family: 'Orbitron', sans-serif;
        font-family: 'Roboto', sans-serif;
    */
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
    

    /* Variables */
    --blue1: #a5def2;
    --blue2: #5baeb7;
    --blue3: #1e80c1;
    --blue4: #414c6b;
    
    --nav-height: 50px;
    
    font-size: 10px !important;
    font-family: 'Roboto', sans-serif;
}

.padded-container {
    padding-left: max(20px,calc(50vw - 512px));
    padding-right: max(20px,calc(50vw - 512px));
}

a {
    text-decoration: none;
}


.button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: unset;
}



.brand-title {
    color: var(--blue3);
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
}

.brand-desc {
    color: var(--blue3);
    font-size: 1.75rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    margin-bottom: 3rem;
}