
.header-bar-titlelogo-img {
    height: 60px; 
    width: 60px;
}

.navigation-header-container {
    display: flex;
    justify-content: space-between;
    background-color: #c6ced06d;
    position: sticky;
    top: 0; 
    left: 0;
    width: 100%;
    
}
.navigation-header-container-box1{
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size: xx-large;
    padding-left: 50px;
}

.navigation-header-container-box1 p{
  padding-right: 10px;
}

.navigation-header-container-box2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: large;
    text-decoration: underline;
    padding-right: 50px;
}
.navigation-header-container-box2 p{
    padding-right: 10%;
}

