body {
    background-image: url("../image/managerhome.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.intro {
    margin: 4rem 0;
    font-size: min(1.5vw, 1.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}