body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../image/bluebackground.jpg");
}





.topic {
    margin: 1em 0;
    text-shadow: 4px 6px 2px rgba(90, 131, 142, 0.388);
    text-align: center;

    font-size: 5rem;
    font-weight: 300;
    color: var(--blue4);
}



.calendar_area,
.details_area {
    width: 85%;
    background-color: #ffffffc1;
    box-shadow: 7px 8px 4px rgba(115, 139, 145, 0.333);
    border: 1px solid rgba(255, 255, 255, 0.758);
    border-radius: 15px;
    margin: 25px auto;
    padding: 3rem 2rem;
}



.form_parameter {
    font-size: 2.5rem;
    font-weight: 300;
}

hr {
    margin: .5em 0 1.5em 0;
}


.calendar {
    margin: 2rem auto;
    box-shadow: 0 5px 5px rgb(170, 170, 170);
}



.leave_reason {
    width: 100%;
    min-height: 200px;
    border: 2px inset rgba(109, 121, 146, 0.559);
    border-radius: 8px;
    margin: 1em .5em;
    padding: .5em;

    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.option {
    display: flex;
    justify-content: space-evenly;
}

.button_form {
    padding: .75em 4em;
    font-weight: 300;
    box-shadow: 5px 5px 2px rgba(132, 154, 201, 0.562);
    font-size: 1.6rem;
    border-radius: 5px;
    background-color: var(--blue3);
    color: white;

    transition: all .3s ease;
}

.button_form:is(:hover, :focus) {
    background-color: rgb(14, 78, 167);
}


.details_sentence {
    font-weight: bold;
}

.calendar_style {
    margin: auto;
    padding-bottom: 1%;

}

.leave_detail {
    width: 100%;
    font-size: 1.5rem;
}


.leave_detail_parameter_cont {
    text-align: right;
    padding: .5em 1em;
    min-width: 175px;
}

.content {
    background-color: #ffffffaf;
    border-radius: 5px;
    width: 100%;
    padding: .75em 0 .75em .5em;
}