body {
    background-image: url("../image/managerhome.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.intro {
    margin: 4rem 0;
    font-size: min(1.5vw, 1.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ===================
    Container
 ====================*/
 .container {
    width: 85%;
    max-width: 1400px;
    margin: 2rem auto;
    border: 1px solid rgba(255, 255, 255, 0.758);
    border-radius: 15px;

    background-color: #ffffffc1;
    box-shadow: 7px 8px 4px rgba(115, 139, 145, 0.333);
    text-align: center;

}

.container_nav {
    display: flex;

    padding: 2rem 0;
    width: 90%;
    margin: auto;
    align-items: center;
}

.container_nav h2 {
    flex: 1;
    text-align: left;
    font-size: 4rem;
    font-weight: 300;
}



.line {
    width: 95%;
    margin: auto;
}

.container_item {
    display: grid;
    padding: 1em;
    gap: 1em;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    justify-items: center;
    margin: 2rem 0;
}



.card {
    padding: 2rem;
    text-align: left;

    background-color: rgba(215, 215, 215, 0.5);
    border-radius: 8px;

    transition: all .3s ease;
}


.card:is(:hover, :focus) {
    transform: translateY(-10px);
    box-shadow: 0 5px 5px rgb(162, 162, 162);
}

.card-title {
    font-size: 2.5rem;
    font-weight: 300;
}

.card-divider {
    margin: 2.5em 0;
    border: none;
    height: 1px;
    background-color:#b3b3b3;
}

.card-icon {
    font-size: 2rem;
    font-weight: bolder;
}

.card-value {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1em;
}

.application-time {
    font-weight: 300;
}


.status-pending { color: var(--blue3); }
.status-verified { color: rgb(8, 181, 8); }
.status-rejected { color: rgb(233, 45, 45); }
.status-expired { color: grey; }




/* ===========================
    Drop down & Buttons
 ============================== */
 .dropdown {
    position: relative;
}


.dropbtn, .addbtn {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 3rem;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;

    flex-direction: column;
    min-width: 300%;
    
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
    padding: 1em 2em;
    display: block;
    transition: all .3s ease;
    font-size: 1.5rem;
}

.dropdown-content button:is(:hover, :focus) {
    background-color: #d7d7d7;
}

.dropdown:is(:hover, :focus) .dropdown-content {
    display: flex;
}

.dropdown:is(:hover, :focus) .dropbtn, .addbtn:is(:hover, :focus) {
    background-color: #b3b3b3;
}