*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: #c6ced0;
    margin: 0;
}

.header-background{
    height: 100vh;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
}

.header-bar-titlelogo-img{
    height: 60px; 
    width: 60px;
}

.navigation-header-container{
    display: flex;
    justify-content: space-between;
    background-color: #c6ced06d;
    position:sticky;
    opacity: 0.8;
    
}
.navigation-header-container-box1{
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size: xx-large;
    padding-left: 50px;
}

.navigation-header-container-box1 p{
  padding-right: 10px;
}

.navigation-header-container-box2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: large;
    text-decoration: underline;
    padding-right: 50px;
}
.navigation-header-container-box2 p{
    padding-right: 10%;
}
